<mat-card>
  <form [formGroup]="itemsForm" class="form" (ngSubmit)="onItemAdded()">
    <mat-form-field class="full-width">
      <mat-label>Name:</mat-label>
      <input matInput placeholder="item" formControlName="name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Qte:</mat-label>
      <input matInput placeholder="qte" type="number" min="1" formControlName="qte">
    </mat-form-field>

    <button [disabled]="!itemsForm.valid" class="full-width" mat-raised-button color="primary">Add</button>

  </form>
</mat-card>

